#v6_pl_rightmod_recominfo, #v6_pl_rightmod_rank, #v6_pl_rightmod_attfeed, #v6_trustPagelet_recom_member, #v6_pl_rightmod_noticeboard {
    display: none;
}
body {
    background-position: 250% top;
    // wx4.sinaimg.cn/woriginal/6c6c199agy1fw9dfkfdh9j20zk0jkq5x.jpg
}
#skin_cover_s {
    background: transparent!important;
}
#v6_pl_rightmod_myinfo .S_bg2 {
    background: rgba(255, 255, 255, .5)
}
.PCD_header .photo_wrap, .PCD_header .pf_photo .photo,
.W_person_info .cover .headpic,
.W_face_radius {
    border-radius: 0;
}
.W_person_info {
    height: auto;
}
.W_person_info .cover .headpic {
    margin-left: -33px;
}
.nameBox {
    display: none;
}
.WB_main_r {
    position: sticky;
    top: 66px;
    width: 100px;
}
.user_atten {
    height: auto;
}
.user_atten li {
    width: 100%;
}
.user_atten li strong {
    display: initial;
}
.send_weibo .key {
    display: none;
}
.WB_global_nav .gn_nav_list li {
    float: right;
}
.WB_global_nav .gn_nav_list li a[nm="tv"] {
    display: none;
}
.WB_global_nav .gn_nav_list li a[nm="find"] {
    display: none;
}
.WB_global_nav .gn_nav_list li a[nm="game"] {
    display: none;
}
