[class^=Main_full_] {
    width: 100%;
    flex: 1;
}
[class^=Main_full_] + [class^=Main_side] {
    width: 0;
    display: none;
}
.woo-box-flex[class*=Frame_content] {
    min-width: 1240px;
    width: 80%;
    max-width: 100%;
}

.woo-box-flex [class^=Frame_main] {
    flex: 1;
}
[class^=card-video_videoBox] {
    max-width: 600px;
}

.u-col-4 {
    width: 672px;
}
.u-col-3{
    width: 504px;
}
.wbpro-feed-content [class*=card-article] {
    max-height: 200px;
}

.woo-box-column + [class*=Frame_wrap] {
    position: fixed;
    left: auto;
    width: 600px;
}

[class*=Viewer_angleBtn] {
    transform: none !important;
    left: 10px;
    right: auto;
    bottom: -65px;
    top: auto;
}

[class*=Viewer_angleRight] {
    left: 65px;
}
[class*=Frame_side] {
    width: 0;
    display: none;
}
